{% extends 'core/base.html' %}

{% block content %}
<h1>{{ object.titulo }}</h1>
<h3>{{ object.subtitulo }}</h3>

<img src="{{ object.imagen.url }}" width="300">

<p>{{ object.contenido|safe }}</p>
<p>Fecha: {{ object.fecha }}</p>

{% endblock %}

<hr>
<h3>Comentarios</h3>

{% if object.comentarios.all %}
    {% for comentario in object.comentarios.all %}
        <p><strong>{{ comentario.autor }}</strong>:</p>
        <p>{{ comentario.contenido }}</p>
        <hr>
    {% endfor %}
{% else %}
    <p>No hay comentarios aún.</p>
{% endif %}

{% if user.is_authenticated %}
    <h4>Agregar comentario</h4>

    <form method="POST">
        {% csrf_token %}
        <textarea name="contenido" rows="3"></textarea>
        <br>
        <button type="submit">Comentar</button>
    </form>

{% else %}
    <p>Debes estar logueado para comentar.</p>
{% endif %}